:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --ship-color: #2f4f4f;
    --hover-color: #e9e9e9;
    --hit-color: #ff9d84;
    --miss-color: #92e092;
    --blocker-color: rgba(0, 0, 0, .5);
}

body {
    margin: 0;
    font-size: 50px;
}

button {
    font-size: inherit;
    font-family: inherit;
}

.main-content {
    display: flex;
    justify-content: center;
}

.header {
    text-align: center;
    font-size: 100px;
    padding: 50px 50px 100px;
}

.board-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: fit-content;
}

.player-board,
.ai-board {
    display: grid;
    width: 400px;
    height: 400px;
    grid-template-columns: repeat(10, 1fr);
    border: solid 1px var(--primary-color);
}

.player-board div,
.ai-board div {
    border: solid 1px var(--primary-color);
}

.ai-board div:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

.player-ship {
    background-color: var(--ship-color);
}

.hit {
    background-color: var(--hit-color);
    pointer-events: none;
}

.miss {
    background-color: var(--miss-color);
    pointer-events: none;
}

.ai-board > .hit:hover {
    cursor: default;
    background-color: var(--hit-color);
}

.ai-board > .miss:hover {
    cursor: default;
    background-color: var(--miss-color);
}

/* ---------------END GAME POPUP--------------- */

.winner-popup {
    display: none;
}

.blocker {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--blocker-color);
}

.winner-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--hover-color);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
}

.play-again-btn {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 40px;
    border-radius: 10px;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.play-again-btn:hover {
    cursor: pointer;
}