:root {
    --primary-color: #000000;
    --secondary-color: #eeeeee;
    --ship-color: #415355;
    --hover-color: #dadada;
    --hit-color: #ff9d84;
    --miss-color: #92e092;
    --blocker-color: rgba(0, 0, 0, .5);
}

html {
    min-height: 100vh;
    position: relative;
}

body {
    margin: 0;
    font-size: 50px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: 'Varela Round', sans-serif;
}

button {
    font-size: inherit;
    font-family: inherit;
}

.header {
    text-align: center;
    font-size: 100px;
    padding: 50px 50px 75px;
    font-family: 'Abril Fatface', cursive;
}

/* ---------------MAIN CONTENT/GAMEBOARDS--------------- */

.main-content {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.board-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: fit-content;
}

.player-board,
.ai-board,
.placement-board {
    display: grid;
    width: 400px;
    height: 400px;
    grid-template-columns: repeat(10, 1fr);
    border: solid 1px var(--primary-color);
}

.player-board div,
.ai-board div,
.placement-board div {
    border: solid 1px var(--primary-color);
}

.ai-board div:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

.player-ship {
    background-color: var(--ship-color);
    pointer-events: none;
}

.hit {
    background-color: var(--hit-color);
    pointer-events: none;
}

.miss {
    background-color: var(--miss-color);
    pointer-events: none;
}

.ai-board > .hit:hover {
    cursor: default;
    background-color: var(--hit-color);
}

.ai-board > .miss:hover {
    cursor: default;
    background-color: var(--miss-color);
}

/* ---------------PLACEMENT BOARD--------------- */

.placement-board > .player-ship:hover {
    cursor: default;
    background-color: var(--ship-color);
}

.hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

/* ---------------PLACE SHIPS POPUP--------------- */

.place-ships-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-color);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
}

.welcome-text {
    font-size: 35px;
    font-weight: bold;
}

.ship-text {
    font-size: 35px;
    margin-top: 30px;
}

.rotate-btn {
    margin: 30px 0;
    padding: 10px 20px;
    font-size: 35px;
    border-radius: 10px;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* ---------------WINNER POPUP--------------- */

.winner-popup {
    display: none;
}

.blocker {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--blocker-color);
}

.winner-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-color);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
}

.play-again-btn {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 40px;
    border-radius: 10px;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.rotate-btn:hover,
.play-again-btn:hover {
    cursor: pointer;
    background-color: var(--ship-color);
    transition: .2s;
}

.rotate-btn:active,
.play-again-btn:active {
    background-color: var(--primary-color);
}

/* ---------------FOOTER--------------- */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    font-size: 17px;
}

.footer img {
    width: 23px;
    display: block;
}

/* ---------------MOBILE VIEW--------------- */

@media screen and (max-width: 950px) {
    .board-container {
        flex-direction: column;
    }

    .header {
        font-size: 75px;
        padding: 50px 0px 60px;
    }
}

@media screen and (max-width: 650px) {
    .header {
        font-size: 60px;
    }

    .player-board,
    .ai-board,
    .placement-board {
        width: 325px;
        height: 325px;
    }

    .welcome-text,
    .ship-text, 
    .rotate-btn,
    .winner-box,
    .play-again-btn {
        font-size: 25px;
    }

    .winner-box {
        padding: 30px;
    }

    .play-again-btn {
        padding: 10px 15px;
    }
}